@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5B57FF;
  --secondary-navy: #2D2A88;
  --secondary-cyan: #00C1FF;
  --background-dark: #0D0D0D;
  --background-overlay: #161616;
  --text-white: #FFFFFF;
  --text-light-grey: #AFAFAF;
  --text-medium-grey: #6E6E6E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}